<h2><%=@doctor.name %></h2>

Appointments:
  <% @doctor.appointments.each do |appointment| %>
    <%= link_to appointment.patient.name, appointment.patient %> - <%= appointment.appointment_time %>

  <% end %>